.ttt_container {
    z-index: 4;
    height: $grid * 10;
    display: flex;
    top: $header;
    position: sticky;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    @include strokeBottom;
    @include text-14-regular-b54-center;
  
    .ttt_wrapper {
      display: flex;
      max-width: 480px;
      justify-content: space-between;
      margin: 0 auto !important;
      @include adjustWidth;
  
      button {
        width: calc(100% / 3);
        text-align: center;
        background-color: white;
        border: none;
        outline: none;
      }
    }
  }
  
  .ttt_top {
    width: 100vw;
    left: 0;
    position: fixed;
  }
  
  .btn_active {
    z-index: 7;
    border-bottom: 1px solid $primary;
    @include text-14-bold-primary-center;
  }
  