.wcp_div {
  margin-bottom: $grid * 2;
  @include backgroundWhite;

  .ActionBtn {
    padding: $grid * 4;
  }

  button {
    width: calc(100vw - 48px - 8px - 32px);
    max-width: calc(480px - 32px);
    height: $grid * 12;
  }

  .wcp_img_div {
    display: flex;
    padding: $grid * 4 $grid * 4 $grid * 4 - 1 $grid * 4;
    overflow: auto;
    .wcp_img_add_btn {
      width: $grid * 16;
      height: $grid * 16;
      background-color: rgba(0, 0, 0, 0.04);
      @include borderRadius;
      .wcp_img_add_div {
        cursor: pointer;
        width: $grid * 16;
      }
      input {
        padding: $grid * 3 $grid * 5 0 $grid * 5;
      }

      img {
        padding: $grid * 3 $grid * 5 0 $grid * 5;
      }

      p {
        margin: 0;
        padding: 0 $grid * 5 $grid * 3 $grid * 5;
        @include text-12-bold-b38-center;
      }
    }
    .wcp_img_thmb {
      width: $grid * 16;
      height: $grid * 16;
      @include borderRadius;
      margin-left: $grid * 4;
    }
  }

  img {
  }

  hr {
    border: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.04);
  }

  .wcp_write_div {
    padding: $grid * 4 - 1 $grid * 4 $grid * 4 $grid * 4;

    textarea {
      width: 100%;
      cursor: text;
      resize: none;
      border: none;
      @include text-14-regular-b78;
    }
  }
}
