.si_body{
    padding-left: $grid * 4;
    padding-right: $grid * 4;
    padding-top : $grid * 2;
    background-color: white;
}

.si_img_thumbnail_div{
    text-align: center;
    margin-top: $grid * 6;
    margin-bottom: $grid * 5;
}

.si_img_thumbnail{
    width: $grid * 24;
    height: $grid * 24;
    border-radius: 50%;
    // position: absolute;
    // z-index: 1;
}

.si_img_edit{
    width: $grid * 8;
    height: $grid * 8;
    border-radius: 50%;
    // position: absolute;
    background-color: $primary;
    border: solid 2px $ffffff;
    // z-index: 2;
    margin-left: $grid * 16;
    margin-top : $grid * 16;
}

.si_input_div {
    display: block;
    padding-top: $grid * 5;
    padding-bottom: $grid * 8;
}

.si_input_div>div{
    margin-top: $grid * 5;
}

.si_input_div>div>label{
    display: block;
    margin-top: $grid;
    margin-bottom: $grid;
    @include text-14-regular-b54;
}

.si_input_div>div>input{
    width: 100%;
    height: $grid * 12;
    background-color: rgba(0, 0, 0, 0.04);
    border : none;
    border-radius: 8px;
}

.si_submit_div{
    bottom: 0;
    background-color: white;
    // height: $header;
    width: 100vw;
    position: fixed;
    margin: 0 auto;
    @include strokeTop;
}

.si_submit_div > button {
    margin : $grid *4;
    padding: 0;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    background-color: $primary16;
}

.si_submit_div> button > span{
    margin-top: $grid * 4;
    margin-bottom: $grid * 4;
    object-fit: contain;
    @include text-14-bold-primary-center;
}