.aa_section {
  .input_label {
    @include text-14-regular-b54;
    display: block;
    margin-top: $grid;
    margin-bottom: $grid;
    &[for='input'] {
      @include text-14-regular-b54;
    }
  }
  input {
    width: calc(100% - #{$grid * 8});
    background-color: $black04;
    border: none;
    padding: $grid * 3 $grid * 4;
    @include borderRadius;

    ::placeholder {
      padding: 0;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 3px 2px $primary;
    }
  }
  .main_address {
    cursor: pointer;
  }
}
.check_div {
  margin-top: $grid * 6;
}
.addr_checkbox {
  width: $grid * 4 !important;
  margin-right: $grid * 3 !important;
}
.addr_label {
  @include text-14-regular-b78;
  width: 100%;
  margin: 0;
  padding: 0;
}
