$eeeeee: #eeeeee;
$primary: #00aaff;
$ffffff: #ffffff;
$primary16: rgba(0, 170, 255, 0.16);
$b38: #383838;
$error: #f64545;
$f4f4f4: #f4f4f4;

// custom color sets
$black78: rgba(0, 0, 0, 0.78);
$black64: rgba(0, 0, 0, 0.64);
$black54: rgba(0, 0, 0, 0.54);
$black38: rgba(0, 0, 0, 0.38);
$black24: rgba(0, 0, 0, 0.24);
$black16: rgba(0, 0, 0, 0.16);
$black08: rgba(0, 0, 0, 0.08);
$black04: rgba(0, 0, 0, 0.04);

$facebook: #3b5998;
$instagram: #e1306c;
$twitter: #1da1f2;
