// @font-face {
//   font-family: SpoqaHanSans;
//   src: local(SpoqaHanSans-Regular),
//     url(/path/to/SpoqaHanSans-Regular.woff2) format("woff2"),
//     url(/path/to/SpoqaHanSans-Regular.woff) format("woff"),
//     url(/path/to/SpoqaHanSans-Regular.ttf) format("truetype");
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: SpoqaHanSans;
//   src: local(SpoqaHanSans-Bold),
//     url(/path/to/SpoqaHanSans-Bold.woff2) format("woff2"),
//     url(/path/to/SpoqaHanSans-Bold.woff) format("woff"),
//     url(/path/to/SpoqaHanSans-Bold.ttf) format("truetype");
//   font-weight: bold;
//   font-style: normal;
//   font-stretch: normal;
// }

@mixin text-18-bold-b78 {
  font-family: SpoqaHanSans;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-16-bold-b78-right {
  font-family: SpoqaHanSans;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-16-bold-primary {
  font-family: SpoqaHanSans;
  font-size: 16px;
  font-weight: bold;
  color: $primary;
}

@mixin text-16-bold-b78 {
  font-family: SpoqaHanSans;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-16-bold-b78-center {
  font-family: SpoqaHanSans;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-16-regular-b78 {
  font-family: SpoqaHanSans;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-16-regular-b38 {
  font-family: SpoqaHanSans;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.38);
}

@mixin text-16-regular-b54 {
  font-family: SpoqaHanSans;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}

@mixin text-16-regular-b54-center {
  font-family: SpoqaHanSans;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

@mixin text-16-regular-b78-center {
  font-family: SpoqaHanSans;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-14-bold-primary-right {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: $primary;
}

@mixin text-14-bold-b78-right {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-14-bold-b38-center {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.38);
}

@mixin text-14-bold-b54-center {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

@mixin text-14-bold-b78 {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-14-bold-b78-center {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-14-bold-w100-center {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: $ffffff;
}

@mixin text-14-bold-w100 {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  color: $ffffff;
}

@mixin text-14-bold-primary {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  color: $primary;
}

@mixin text-14-bold-primary-center {
  font-family: SpoqaHanSans;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: $primary;
}

@mixin text-14-regular-primary {
  font-family: SpoqaHanSans;
  font-size: 14px;
  color: $primary;
}

@mixin text-14-regular-b78 {
  font-family: SpoqaHanSans;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-14-regular-b54-right {
  font-family: SpoqaHanSans;
  font-size: 14px;
  text-align: right;
  color: rgba(0, 0, 0, 0.54);
}

@mixin text-14-regular-b54-center {
  font-family: SpoqaHanSans;
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

@mixin text-14-regular-b54 {
  font-family: SpoqaHanSans;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

@mixin text-12-bold-b78-center {
  font-family: SpoqaHanSans;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-12-bold-b54-center {
  font-family: SpoqaHanSans;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

@mixin text-12-bold-primary {
  font-family: SpoqaHanSans;
  font-size: 12px;
  font-weight: bold;
  color: $primary;
}

@mixin text-12-bold-primary-center {
  font-family: SpoqaHanSans;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: $primary;
}

@mixin text-12-regular-primary {
  font-family: SpoqaHanSans;
  font-size: 12px;
  color: $primary;
}

@mixin text-12-regular-b54-right {
  font-family: SpoqaHanSans;
  font-size: 12px;
  text-align: right;
  color: rgba(0, 0, 0, 0.54);
}

@mixin text-12-regular-b54 {
  font-family: SpoqaHanSans;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

@mixin text-10-bold-w100-center {
  font-family: SpoqaHanSans;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $ffffff;
}

@mixin text-10-bold-primary-center {
  font-family: SpoqaHanSans;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $primary;
}

@mixin text-10-bold-b78-center {
  font-family: SpoqaHanSans;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.78);
}

@mixin text-10-regular-b54 {
  font-family: SpoqaHanSans;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.54);
}

@mixin text-10-regular-b78-center {
  font-family: SpoqaHanSans;
  font-size: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.78);
}