$ipx: 'only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait)';
$ipxr: 'only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait)';
$ipxm: 'only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait)';

$chrome: 'screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm)';
$firefox: 'screen and (min--moz-device-pixel-ratio:0) and (min-resolution: .001dpcm)';
$ie: 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)';
