.bottomsheet_container{
    display: flex;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.current_path>img{
    color: #00aaff;
}

.home_icon,
.feed_icon,
.profile_icon{
    min-width: 106px;
    min-height: 56px;
    height: 9.3vh;
    width: 33.3vw;
    text-align: center;
}

.home_icon>img,
.feed_icon>img,
.profile_icon>img{
    display: block;
    margin: auto;
    padding-bottom: 3px;
}

p{
    margin-top: 1px;
}

.current_path>p{
    object-fit: contain;
    font-family: SpoqaHanSans;
    font-size: 1em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00aaff;
}