.bottomsheet_container{
    display: flex;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    background-color: white;
}

.current_path>img{
    color: #00aaff;
}

.home_icon,
.feed_icon,
.profile_icon{
    min-width: 106px;
    min-height: 56px;
    max-height: 84px;
    height: 17.5vw;
    width: 33.3vw;
    text-align: center;
}

.home_icon>img,
.feed_icon>img,
.profile_icon>img{
    width:7.5vw;
    height:7.5vw;
    min-width: 24px;
    max-width: 30px;
    min-height: 24px;
    max-height: 30px;
    display: block;
    margin: auto;
    padding-bottom: 3px;
    margin-top: 8px;
}

p{
    margin-top: 1px;
    margin-bottom: 8px;
}

.current_path>p{
    object-fit: contain;
    font-family: SpoqaHanSans;
    font-size: 1em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00aaff;
}