.feed_card_view_div {
  margin-top: $grid * 3;
  background-color: #fff;
  padding: $grid * 4;
  @include strokeBottom;

  .funding_progress_bar_div,
  .funding_information_div {
    width: 100%;
  }
}

.feed_card_view_image {
  cursor: pointer;
  margin: auto;
  @include borderRadius;
}

.feed_card_view_image_slick {
  margin-top: 12px;
}

.feed_card_view_funding_div {
  margin-top: $grid * 4;
  display: flex;
  margin-bottom: $grid * 5;

  .feed_card_view_funding_img {
    width: 128px;
    height: 96px;
    cursor: pointer;
    @include borderRadius;
  }
}

.feed_card_view_funding_title {
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  object-fit: contain;
  cursor: pointer;
  @include text-14-bold-b78;
}

.feed_card_view_funding_header_text_div {
  width: calc(100% - 128px - 12px);
  margin-left: $grid * 3;

  .feed_card_view_funding_title {
    @include text-14-bold-b78;
    text-align: left;
  }

  .feed_card_view_funding_user {
    @include text-14-regular-b54;
    text-align: left;
    display: block;
    bottom: 0;
    cursor: pointer;
  }
}

.feed_card_view_funding_explain_div {
  margin-top: $grid * 4;

  .feed_card_view_funding_explain_text {
    text-align: left;
    @include text-14-regular-b78;
  }
}

.feed_card_view_funding_like_comment_div {
  display: flex;
  margin-top: $grid * 4;
  object-fit: contain;
  @include text-12-regular-b54;
}

.feed_card_view_funding_icon_div {
  margin-top: $grid;
  position: relative;
  cursor: pointer;

  > img {
    display: inline-block;
    padding: $grid * 2;
    padding-top: $grid * 3;
    padding-bottom: $grid * 3;

    &:first-child {
      margin-left: -8px !important;
    }
  }
}
