.carousel_div {
  height: calc(320 * (4 / 3));
  object-fit: cover !important;
  @include adjustWidth;
}

// @media (max-width: 480px) {
//   .carousel_div {
//     padding-top: $header;
//   }
// }

// @media (max-width: 320px) {
//   .carousel_div {
//     padding-top: $header;
//   }
// }

.carousel_img {
  height: calc(320 * (4 / 3));
  object-fit: cover !important;
  @include adjustWidth;
}
