.feed_card_view_div{
    margin-top:12px;
}

.feed_card_view_header{
    display: flex;
    width: 90vw;
    max-width: 432px;
    min-width: 288px;
    margin: auto;
}

.feed_card_view_header_margin{
    margin-top: auto;
    margin-bottom: auto;
}

.feed_card_view_thumnail{
    width: 10vw;
    max-width: 48px;
    min-width: 32px;
    height: 10vw;
    max-height: 48px;
    min-height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}

.feed_card_view_header_maker_name{
    object-fit: contain;
    @include text-14-bold-b78;
}

.feed_card_view_header_upload_time{
    object-fit: contain;
    @include text-14-regular-b54;
}

.feed_card_view_header_button{
    width: 20vw;
    max-width: 96px;
    min-width: 64px;
    height: 10vw;
    max-height: 32px;
    min-height: 48px;
    object-fit: contain;
    border-radius: 8px;
    background-color: $primary16;
    border: 0;
    outline: 0;
    margin-left: auto;
}

.feed_card_view_header_button_text{
    object-fit: contain;
    @include text-12-bold-primary-center;
}

.feed_card_view_image{
    border-radius: 8px;
    object-fit: contain;
}

.feed_card_view_image_slick{
    margin-top: 12px;
}