.carousel_div {
  height: 100%;
  min-height: calc(320 * (320 / 240));
  max-height: calc(480 * (320 / 240));
  @include adjustWidth;
}

// @media(max-width: 480px){
//     .carousel_div{
//         padding-top: $header;
//     }
// }

// @media(max-width: 320px){
//     .carousel_div{
//         padding-top: $header;
//     }
// }

.carousel_img {
  height: 100%;
  min-height: calc(320 * (320 / 240));
  max-height: calc(480 * (320 / 240));
  object-fit: cover !important;
  @include adjustWidth;
}
