.funding_progress_bar_div {
  margin: 0 auto;
  display: block;
  width: calc(100% - 32px);
  margin-bottom: $grid;
  background-color: $eeeeee;
}

.funding_progress_bar {
  background-color: $primary;
  height: 4px;
}

.funding_progress_bar_div,
.funding_progress_bar {
  @include borderRadius($grid * 4);
}

.funding_information_div {
  display: flex;
  margin: 0 auto;
  width: calc(100% - 32px);
}

.funding_percentage {
  @include text-14-bold-primary;
}

.funding_cost {
  margin-left: $grid;
  margin-top: 2px;
  @include text-12-regular-b54;
}
