.reservate_btn {
  margin: 0 auto;
  display: block;
  width: calc(100% - 32px);
  height: $grid * 12;
  margin-bottom: $grid * 4;
  object-fit: contain;
  background-color: $primary16;
  border-radius: 8px;
  border: 0;
  outline: 0;
  @include text-14-bold-primary-center;
}

.start_text_div {
  margin: 0 auto;
  width: calc(100% - 32px);
}

.start_date_span,
.start_span {
  @include text-12-bold-b54;
}

.start_span {
  font-weight: normal;

  &::before {
    content: ' ';
  }
}
