.home_body {
  background-color: $f4f4f4;
  padding-top: $header;
  padding-bottom: $header + ($grid * 2);
  @include adjustWidth;
}

.home_body_nobn {
  padding-top: $header;
  @include adjustWidth;
}
