.card_view_container {
  margin-top: #{$topTabBar + 8px};
  background-color: white;
  padding-bottom: #{$grid * 4};
  @include strokeBottom;
}

.card_view_img_div,
.card_view_user_profile_img_div {
  position: relative;
}

.card_view_img_div {
  object-fit: contain;
  max-height: calc(480px * (3 / 4));
  min-height: calc(320px * (3 / 4));
  height: calc(100vw * (3 / 4));
  display: flex;
  z-index: 1;
  position: relative;
  background-color: grey;
  cursor: pointer;
}
.card_view_img {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card_view_user_profile_img_div {
  width: #{$grid * 16};
  margin-left: #{$grid * 4};
  height: #{$grid * 16};
  transform: translate(0, -32px) !important;
  z-index: 2;
  margin-bottom: -16px !important;
}

// @media (max-width: 480px) {
//   .card_view_user_profile_img_div {
//     transform: translate(0, -7.5vw) !important;
//   }
// }

// @media (max-width: 320px) {
//   .card_view_user_profile_img_div {
//     transform: translate(0, -32px) !important;
//   }
// }

.card_view_user_profile_img {
  width: #{$grid * 16};
  height: #{$grid * 16};
  cursor: pointer;
  @include borderRadius(#{$grid * 16});
}

.card_view_funding_information_div > p {
  margin: 0 auto;
  width: calc(100% - 32px);
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  @include text-14-bold-b78;
  margin-bottom: $grid;
  text-align: left;
  cursor: pointer;
}

.card_view_funding_user_name_div > p {
  margin: 0 auto;
  width: calc(100% - 32px);
  text-align: left;
  margin-bottom: #{$grid * 4};
  cursor: pointer;
  @include text-14-regular-b54;
}
