.card_view_container{
    padding-top: $topTabBar;
    background-color: white;
}

.card_view_img_div,
.card_view_user_profile_img_div{
    position: relative;
}

.card_view_img_div{
    object-fit: contain;
    max-height: calc(480px*(3/4));
    min-height: calc(320px*(3/4));
    height: calc(100vw*(3/4));
    display: flex;
    z-index: 1;
    position: relative;
    background-color: grey;
    // border-bottom:1px solid #F0F;
}
.card_view_img{
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

.card_view_user_profile_img_div{
    width: 15vw;
    max-width: 72px;
    min-width: 48px;
    height: 15vw;
    max-height: 72px;
    min-height: 48px;
    margin-top: -36px;
    z-index: 2;
}

.card_view_funding_left_margin{
    margin-left: 24px;
}


@media (max-width: 480px){
    .card_view_user_profile_img_div{
        margin-top: -7.5vw;
    }
    .card_view_funding_left_margin{
        margin-left: 5vw;
    }
}

@media (max-width: 320px){
    .card_view_user_profile_img_div{
        margin-top: -24px;
    }
    .card_view_funding_left_margin{
        margin-left: 16px;
    }
}

.card_view_user_profile_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

// .card_view_funding_information_div,
// .card_view_user_profile_img_div,
// .card_view_funding_user_name_div{
//     background-color: white;
// }

.card_view_funding_information_div>p{
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 2.4em;
    object-fit: contain;
    font-family: SpoqaHanSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.78);
    margin-bottom: 0.3em;
}

.card_view_funding_user_name_div>p{
    margin-top: 0.3em;
    object-fit: contain;
    font-family: SpoqaHanSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.54);
}