@mixin sidePadding {
  padding-left: $grid * 4;
  padding-right: $grid * 4;
}

.fd_sub_body {
  .fd_story_div {
    background-color: #fff;
    padding: $grid * 8 0;

    > h1 {
      padding: $grid * 4 0 $grid * 6;
      @include sidePadding;
      @include text-18-bold-b78;
      @include line-height(18px);
    }

    > h2 {
      @include sidePadding;
      @include text-16-bold-b78;
      @include line-height(16px);
    }

    > p {
      text-align: left;
      padding: $grid * 2 0 $grid * 4;
      @include sidePadding;
      @include text-14-regular-b78;
      @include line-height(14px);

      &[data-caption] {
        margin-bottom: $grid * 8;
        @include text-16-regular-b54-center;
        @include line-height(16px);
      }

      a {
        display: inline;
        @include text-14-regular-primary;
        @include line-height(14px);
      }
    }

    > a {
      display: inline-block;
      @include sidePadding;
      @include text-14-regular-primary;
      @include line-height(14px);
    }

    > img {
      width: 100%;
      display: block;
      padding: $grid * 2 0 0;

      &[alt='caption'] {
        width: $grid * 6;
        height: $grid * 6;
        display: block;
        margin: $grid * 8 auto $grid;
      }
    }

    > label[for='img'] {
      display: block;
      padding: $grid * 2 0 $grid * 8;
      @include sidePadding;
      @include text-14-regular-b54-center;
      @include line-height(14px);
    }

    > hr {
      border: 1px solid #ccc;
      margin: $grid * 8 auto;
      width: calc(100% - #{$grid * 8});
    }

    > ol {
      padding: $grid * 2 auto $grid * 4;
      li {
        padding-right: $grid * 4;
        @include text-14-regular-b78;
        @include line-height(14px);
      }
    }

    > ul {
      padding: $grid * 2 auto $grid * 4;
      li {
        padding-right: $grid * 4;
        @include text-14-regular-b78;
        @include line-height(14px);
      }
    }
  }
}

.fd_story_footer {
  @supports (margin-bottom: env(safe-area-inset-bottom)) {
    margin-bottom: calc(
      $header + $header + env(safe-area-inset-bottom)
    ) !important;
  }

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: $header + ($grid * 10) + $grid;
  }
}
